
body {
  background-color: #C0C0C0;
  margin: auto;
  max-width: 1100px;
  font-family: 'Noto Serif', serif;
}

.container {
  display: grid;
  grid-template-areas:
  "nav"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  width: 100%;
  min-height: 100vh;
}

/*Navigation menu*/
.nav {
  grid-area: nav;
  width: 60%;

}
.nav ul {
  display: flex;
  list-style: none;
  border-bottom: solid 2px #07889b;
  padding: 0;
  margin: 0;
}

.nav li {
  flex: 3;
  display: flex;
}

.nav .social {
  flex: 1;
}

a {
  background-color: #07889b;
  display: block;
  text-decoration: none;
  color: #e37222;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
  padding:20px 0 20px 0;
  text-align: center;
  align-items: stretch;
}

.nav li a:hover {
  background:rgba(0,0,0,0.1);
}

.toggleNav {
  display: none;
}

.toggleNav:hover {
  font-weight: 700;
  font-size: 18px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.forecast {
  background-color: #66b9bf;
  /*flex: 1 1 auto;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: #07889b 2px solid;
  transition-duration: 0.5s;
  width: 200px;
  height: 200px;
}

.forecast.open {
  flex-grow: 2;
  height: 400px;
  transition-duration: 0.5s;
}

.forecast > *:last-child { transform: translateX(1000%); display: none; }
.forecast.open > *:last-child { transform: translateX(0); display: block; }

.forecast:hover {
  background-color: #07889b;
}

.footer {
  grid-area: footer;
  background-color: #07889b;
  border: solid #A9A9A9;
  border-width: 2px 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #e37222;
}

.footer p  {
  margin: 1vh 0 0 0;
}

svg {
  height: 50%;
  width: 50%;
  display: block;
  margin: auto;
}

span {
  font-weight: 600;
}
/*media queries*/

@media screen and (max-width: 450px) {

  .nav li {
    flex-basis:100%;
  }

  .toggleNav {
    display: block;
  }

  .nav ul {
    display: none;
  }

  .nav ul.open {
      display: flex;
      /*flex-direction: column;*/
      flex-wrap: wrap;
    }

  .nav .social {
    flex: 1 1 25%;
  }
}

 





/*weather icons
.icons >* {
  flex: 1 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  }
  





/*media queries

@media screen and (max-width: 450px) {

  .nav li {
    flex-basis:100%;
  }

  .toggleNav {
    display: block;
  }

  .nav ul {
    display: none;
  }

  .nav ul.open {
      display: flex;
      /*flex-direction: column;
      flex-wrap: wrap;
    }

  .nav .social {
    flex: 1 1 25%;
  }
}

/*@media screen and (min-width: 1100px) {
  body {
    background-size: 1100px 100%;
    background-position: center;
  }
}*/



/*  Colors
http://paletton.com/#uid=13h0u0k18O17rzm4NFO2nx-35tf
*/
